spring:
  autoconfigure:
    exclude:
      - org.springframework.boot.autoconfigure.jdbc.DataSourceAutoConfiguration
  data:
    mongodb:
      #test uri
      uri: mongodb://localhost:27017/yourDatabase
      #uri: mongodb+srv://<user>:<db_password>@cluster0.e7uyg.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0

python:
  script:
    path:
      request: src/main/resources/core/request.py
      server: src/main/resources/core/server.py
      openAi: src/main/resources/openai/TestOpenAi.py
      ocr: src/main/resources/ocr/TestOCR.py